table {
    margin: auto;
}
h1 {
    color:olive;
    text-align: center;
    font-weight: bold;
}
caption {
    color:olivedrab;
    font-size: 25px;
}
th {
    text-align: center;
    background-color: greenyellow;
    width: 100px;
    font-weight: bold; 
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center; 
    padding: 30px;
    font-size: 25px;
    font-family: 'Verdana'; 
}
.LMSGI {
    background-color: aquamarine;
}
.BD {
    background-color: rgb(224, 96, 120);
}
.P {
    background-color: rgb(196, 226, 64);
}
.SI {
    background-color: rgb(239, 166, 78);
}
.TUT {
    background-color: rgb(165, 112, 240);
}
.AN {
    background-color: rgb(55, 151, 235);
}
.DIW {
    background-color: rgb(113, 237, 132);
}
.IPO {
    background-color: rgb(90, 36, 36);
}
#descans {
    font-size: 20px;
    padding: 15px;
}
.ocho {
    font-size: 20px;
    padding: 10px;
    width: 180px;
}
.nueve {
    font-size: 20px;
    padding: 10px;
    width: 180px;
}
.diez {
    font-size: 20px;
    padding: 10px;
    width: 180px;
}
.once {
    font-size: 20px;
    padding: 10px;
    width: 180px;
}
.doce {
    font-size: 20px;
    padding: 10px;
    width: 180px;
}